<%= render :partial => 'merriweather/admin/shared/configuration_menu' %>

<h1><%= t(:general_settings) %></h1>

<table data-hook="preferences">
  <% @preferences.each do |key| %>
  <tr>
    <th scope="row"><%= t(key) %>:</th>
    <td><%= Merriweather::Config[key] %></td>
  </tr>
  <% end %>
  <tr>
    <td colspan="2">
      <%= t(:dollar_amounts_displayed_as, :example => Merriweather::Money.new(20.99)) %>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <%= Merriweather::Config[:allow_ssl_in_production] ? t(:ssl_will_be_used_in_production_mode) : t(:ssl_will_not_be_used_in_production_mode) %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
    <%= Merriweather::Config[:allow_ssl_in_staging] ? t(:ssl_will_be_used_in_staging_mode) : t(:ssl_will_not_be_used_in_staging_mode) %>
  </td>
  </tr>
  <tr>
    <td colspan="2">
      <%= Merriweather::Config[:allow_ssl_in_development_and_test] ? t(:ssl_will_be_used_in_development_and_test_modes) : t(:ssl_will_not_be_used_in_development_and_test_modes) %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <%= (Merriweather::Config[:check_for_merriweather_alerts] ? t("merriweather_alert_checking") : t("merriweather_alert_not_checking")) %>
    </td>
  </tr>
</table>

<p><%= link_to_with_icon 'edit', t(:edit), edit_admin_general_settings_path, :id => 'admin_general_settings_link' %></p>
