<%= render :partial => 'merriweather/admin/shared/product_sub_menu' %>
<h1><%= t(:editing_prototype) %></h1>

<%= render :partial => 'merriweather/shared/error_messages', :locals => { :target => @prototype } %>

<%= form_for [:admin, @prototype] do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render :partial => 'merriweather/admin/shared/edit_resource_links' %>
<% end %>
