<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Image:</b>
  <%= image %>
</p>

<p>
  <b>Gemm:</b>
  <%= gemm %>
</p>

<p>
  <b>Content:</b>
  <%= content %>
</p>

<p>
  <b>Release date:</b>
  <%= release_date %>
</p>

<p>
  <b>Band:</b>
  <%= band_id %>
</p>

<p>
  <b>Genre:</b>
  <%= genre_id %>
</p>

<p>
  <b>Heading:</b>
  <%= heading %>
</p>


<a href="#/index">Back</a>