<%= render :partial => 'merriweather/admin/shared/product_sub_menu' %>

<%= render :partial => 'merriweather/admin/shared/product_tabs', :locals => { :current => 'Variants' } %>

<%= render :partial => 'merriweather/shared/error_messages', :locals => { :target => @variant } %>

<%= form_for [:admin, @product, @variant] do |f| %>
  <div data-hook="admin_variant_edit_form">
    <%= render :partial => 'form', :locals => { :f => f } %>
  </div>

  <%= render :partial => 'merriweather/admin/shared/edit_resource_links' %>
<% end %>
